# =============== #
# Unity generated #
# =============== #
[Tt]emp/
[Oo]bj/
[Bb]uild
[Ll]ibrary/
sysinfo.txt

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
[Ee]xported[Oo]bj/
/*.userprefs
/*.csproj
/*.pidb
/*.suo
/*.sln*
/*.user
/*.unityproj
/*.booproj
 
# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db

Unity/Unity.sln
Unity/Assembly-CSharp.csproj
Unity/Assembly-CSharp-Editor.csproj
Unity/Unity-csharp.sln

#==========#
# HVR Data #
#==========#
# *.hvr
# *.hvr.meta
# *.mov
# *.mov.meta
# *.wav


#================================================================================#
# let's ignore our big folder that where we explicitly put things that won't be
# versioned in the repo
#================================================================================#
Non-Repo*